.paper:nth-child(even) {
    background-color: var(--secondary-background-color);
}

.paper {
    & > details > summary {
        display: flex;
        width: 100%;
        gap: 1em;

        & > * {
            user-select: none;
        }

        & > p {
            margin: 0;
        }

        & > div {
            margin-left: auto;
        }
    }
}
