/* Defaults and variables */

:root {
    color-scheme: light dark;
    --background-color: light-dark(#FBF8EB, #242424); 
    --secondary-background-color: light-dark(#F7F7D8, #2D2D2D);
    --font-color: light-dark(#525252, #F2F2F2);
    --lightfont-color: light-dark(#747474, #FFF);
    --link-color: light-dark(#7272A5, #9C9CD0);
    --link-hover-color: light-dark(#7272C7, #50508A);

    &:has(#theme-light:checked) { color-scheme: light; }
    &:has(#theme-dark:checked) { color-scheme: dark; }
}

* {
    font-family: sans-serif;
}

body {
    width: 80em;
    margin: auto;
    
    background-color: var(--background-color);
}

html {
    background-color: var(--background-color);
}

@media only screen and (max-width: 1280px) {
    body {
        width: 95%;        
    }
}

h1, h2, h3, h4, h5, h6, p {
    color: var(--font-color);
}

a, a:visited {
    color: var(--link-color);
}

a:hover {
    color: var(--link-hover-color);
}
